@charset "UTF-8";

/* animation de flottement des chats dans le menu burger*/
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

#cat, #cat2, #cat3 {
  background-repeat: no-repeat;
  animation: float 3s ease-in-out infinite;
}

#cat {
  background-image: url("images/cat.png");
}

#cat2 {
  background-image: url("images/cat2.png");
}

#cat3 {
  background-image: url("images/cat3.png");
}

.cat_position {
  margin-top: -100px;
  margin-left: 190px;
}

.cat2_position {
  margin-top: -50px;
  margin-left: 1300px;
}

.cat3_position {
  margin-top: 50px;
}

/* effet de fleurs qui tournent en continu sur elles-mêmes */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.story__article::after,
.story h2::after,
.site-footer ul::after,
.site-footer::after,
.site-footer::before,
#studio h2::before,
#studio h2::after {
  position: absolute;
  animation: spin 5s infinite linear;
}

.story__article::after {
  content: url("images/Hibiscus.png");
  left: calc(50% + 414px);
  top: 2em;
}

.story h2::before {
  content: url("images/sunflower_leaves.png");
  left: 0;
  top: 1.8em;
  z-index: -1;
  margin-left: -450px;
}

.site-footer ul::after {
  content: url("images/hibiscus_footer.png");
  left: calc(50% - 323px);
  bottom: -28.5em;
  z-index: -1;
}

.site-footer::after {
  content: url("images/orchid.png");
  right: -4em;
  bottom: 47.8em;
}

.site-footer::before {
  content: url("images/Sunflower.png");
  left: 4em;
  top: 6em;
}

#studio h2::before {
  content: url("images/random_flower.png");
  left: -1em;
  top: 0;
}

#studio h2::after {
  content: url("images/flower.png");
  right: 1em;
  top: 1.2em;
}


